.cookie-policy{
    margin-top: 140px;
    margin-bottom: 140px;
}

.cookie-policy-container{
    font-size: 30px;
    font-family: "FuturaPT2",sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.cookie-policy-section{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "FuturaPT2",sans-serif;
}