

header {
  position: relative;
  margin-top: 20px;
  
}

header .header-line {
  padding: 15px 30px;
  border-radius: 50px;
  position: absolute;
}

header .left-side {
  padding: 25px 30px;
  background-color: #6907A8;
  left: -50px;
  right: 10%;
}

header .middle-side {
  background-color: #31323D;
  padding: 30px 30px;
  right: -100%;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.nav-menu-item.current{
  display: none;
}


header .right-side {
  background-color: #171924;
  border-left: 4px solid #6907a8;
  right: -100%;
  left: 23%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  height: 80px;
}
.open-menu-btn{
  position: absolute;
  top: 22px;
  left: 72px;
}

.header-wrapper {
  position: absolute;
  width: 109%;
  height: 100%;
  overflow-x: hidden;
  top: 50%;
  transform: translateY(-50%);
}



.header-wrapper {
  position: absolute;
  width: 102%;
  height: 100%;
  overflow-x: hidden;
  top: 50%;
  transform: translateY(-50%);
}

header .navbar-menu {
  display: none;
}

header .right-side {
  transform: translateY(20%);
  left: 60%;
  
}

header .middle-side {
  background-color: transparent;
  position: unset;
}
.open-menu-btn{
  background-color: transparent;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  
}
.close-menu-btn {
  border: none;
  background-color: transparent;
}
.logo-modal-header{
width: 80%;
}

.navbar-m {
  width: 320px;
  /* position: absolute; */
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.7s ease;
  left: 0;
  padding: 20px 20px 40px 20px;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  background-image: url(../svg/bg-mob-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.mobile-menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-m.is-open {
  transform: translateX(0);
}

.mob-address-list {
  text-align: center;
}

.mob-menu-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-menu-address {
  display: block;
  align-items: center;
  justify-content: center;
}
.mob-contact:not(:last-child) {
  margin-bottom: 15px;
}

.active {
  color: #404bbf;
}

.media-m {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.menu-m a {
  display: flex;
  align-items: center;
  color: black;
  gap: 12px;
}

.media-m ul {
  display: flex;
}

.gift-title {
  font-size: 20px;
  font-family: "FuturaPT1", sans-serif;
}

.media-m img {
  width: 30px;
  margin-right: 12px;
}

.navbar-m .menu-m ul li {
  margin-bottom: 35px;
}

.form-icon img {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 5px;
}

.address-box {
  display: none;
} 

@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .media-m {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .media-m {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
  }
  .logo-modal-header {
    width: 200px;
  }
}

@media (min-width: 1280px) {
.open-menu-btn{
  display: none;
}
.navbar-m{
  display: none;
}
.navbar {
  display: block;
}
  header {
    position: relative;
    margin-top: 20px;
  }
  
  header .header-line {
    padding: 15px 30px;
    border-radius: 50px;
    position: absolute;
  }
  
  header .left-side {
    padding: 25px 30px;
    background-color: #1e8ff8;
    left: -50px;
    right: 10%;
  }
  
  header .middle-side {
    background-color: #31323D;
    border-left: 2px solid #fe7524;
    padding: 25px 30px;
    right: -100%;
    left: 37%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  header .right-side {
    background-color: #171924;
    border-left: 4px solid #6907a8;
    padding: 30px 30px;
    right: -100%;
    left: 23%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;

  }
  
  
  
  .header-wrapper {
    position: absolute;
    width: 109%;
    height: 100%;
    overflow-x: hidden;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-list {
    display: flex;
  }
  .header-address {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .mob-icon-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-icon-link:hover .icon-social-header,
  .mob-icon-link:focus .icon-social-header {
    fill: #3350e9;
  }
  .right-side{
    display: flex;
    gap: 12px;
  }
  .nav-menu-item {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    line-height: 129%;
    padding: 15px 15px;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .nav-menu-item:hover {
    color: #3350e9;
  }
  .current::after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
    position: absolute;
    bottom: 5px;
  }
  .current {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu-item:hover::after,
  .nav-menu-item:focus::after,
  .nav-menu-item:active::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3350e9;
    position: absolute;
    bottom: 5px;
  }
  .address-box {
    display: block;
  }
  .open-menu-btn {
    display: none;
  }
  .mob-icon-link {
    display: inline-block;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #ffffff2b;
    background-color: #b8b8b82e;
  }
  .mob-icon-link:hover {
    background-color: #fe7524;
  }
  .translate-icon{
    color: #3350e9;
  }
  .icon-social-header{
    fill: #1e8ff8;
  }
  
}
