.prices-title{
    font-size: 25px;
    letter-spacing: -0.03em;
    font-family: "FuturaPT2",sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}


.prices-subtitle{
    font-size: 16px;
    letter-spacing: -0.03em;
    font-family: "FuturaPT1",sans-serif;
    margin-bottom: 20px;
}
.prices-hero {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}
.contact-price{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    max-width: 400px;
}
.price-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.price-card-content {
    margin-bottom: 10px;
    font-size: 18px;
}

.site-type {
    font-family: "FuturaPT2",sans-serif;
}

.term {
    font-size: 0.9em;
    color: #555;
}

.order-button {
    background-color: #1e8ff8; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.order-button:hover {
    background-color: #0080f7; 
}

.price-table-desktop {
    display: none;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th{
    font-family: "FuturaPT2",sans-serif;
    font-size: 24px;
}
.price-table-desktop th, .price-table-desktop td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    color: #626263;
}

.price-table-desktop th {
    background-color: #f4f4f4;
}

.price-table-desktop tr:nth-child(even) {
    background-color: #f9f9f9;
}

.price-table-desktop tr:hover {
    background-color: #f1f1f1;
}



    .price-table {
        gap: 10px;
    }

    .price-card {
        flex-direction: column;
        align-items: center;
    }


/* Tablet styles (768px and above) */
@media (min-width: 768px) {


    .price-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .price-card {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .price-card-content {
        margin-bottom: 5px;
    }

    .order-button {
        margin-left: 0;
        width: 100%;
    }
}

/* Desktop styles (1280px and above) */
@media (min-width: 1280px) {
    .container {
        margin: 0 auto;
    }

    .price-table {
        display: none;
    }

    .price-table-desktop {
        display: table;
    }

    .price-table-desktop th, .price-table-desktop td {
        padding: 14px;
    }

    .order-button {
        padding: 12px 24px;
    }
    .prices-hero {
        padding-top: 120px;
        padding-bottom: 60px;
        text-align: center;
    }
    .prices-title{
        font-size: 40px;
        letter-spacing: -0.03em;
        font-family: "FuturaPT2",sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .prices-subtitle{
        font-size: 20px;
        letter-spacing: -0.03em;
        font-family: "FuturaPT1",sans-serif;
        margin-bottom: 20px;
    }
}
