
.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: relative;
  margin-top: 10px;
}

header .header-line {
  padding: 15px 30px;
  border-radius: 50px;
  position: absolute;
}

header .left-side {
  padding: 25px 30px;
  background-color: purple;
  left: -30px;
  right: 10%;
}

header .middle-side {
  background-color: grey;
  right: -100%;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

header .navbar-menu > a {
  text-decoration: none;
  color: white;
}

header .right-side {
  background-color: black;
  right: -100%;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

p {
  color: white;
}

@media (max-width: 600px) {
  .header-wrapper {
    position: absolute;
    width: 102%;
    height: 100%;
    overflow-x: hidden;
    top: 50%;
    transform: translateY(-50%);
  }

  header .navbar-menu {
    display: none;
  }

  header .right-side {
    transform: translateY(20%);
    left: 60%;
  }

  header .middle-side {
    background-color: transparent;
    position: unset;
  }
}
